{% extends 'core/base.html' %}


{% load static %}


{% load crispy_forms_tags %}

{% block title %}Create an Account{% endblock %}



{% block css %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css"
		integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />

{% endblock %}



{% block full_content %}

<video autoplay muted loop id="myVideo">
	<source src="{% static 'videos/FilmLandingBackground.mp4'%}" type="video/mp4">
	Your browser does not support HTML5 video.
</video>


<div class="content">
	<img class="logo" src="{% static 'img/icons/logo/filmClubLogo.png'%}" alt="FilmClubLogo">
	<br><br>
	<p>CREATED BY MOVIE LOVERS FOR MOVIE LOVERS</p>
	<br>


    
	<form method="POST" class="form-group">
		{% csrf_token %}
		{{ form|crispy }}
		<p style="margin-top:30px"></p>
		<button type="submit" class="btn btn-success" id="myBtn" >Login</button>
    	</form>
	
	<a href="{% url 'core:password_reset' %}">
		<p>Reset your password</p>
	</a>
	

</div>
{% endblock %}

{% block js %}

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js"
		integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

{% endblock %}