{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load materializecss %}

{% block title %}Film Club Sign Up{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css'%}">
{% endblock %}

{% block full_content %}

<div class="content">
	<img src="{% static 'img/icons/logo/filmClubLogo.png'%}" alt="FilmClubLogo" style="border-radius: 50%; width: 150px;">
	<h5>Create an account</h5>
	<br>
	<form method="POST" class="form-group">
		{% csrf_token %}
		<!-- {{ form|crispy }} -->
		{{ form|materializecss}}
		<button type="submit" id="id_register" class="btn btn-success">Register</button>
	</form>
</div>
{% endblock %}