{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load materializecss %}

{% block title %}Film Club Sign Up{% endblock %}

{% block css %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/register.css'%}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css"
		integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />

{% endblock %}

{% block full_content %}


<div class="container" style="
	width:50%;
	margin-top: 3%;
	margin-bottom: 3%;
	padding: 3%;
    background: rgba(0, 0, 0, 0.5);
    color: lightgray;
    text-align: center;">
	<img class="circle responsive-img" src="{% static 'img/icons/logo/filmClubLogo.png'%}" alt="FilmClubLogo" style="width: 20%;">
	<h5>Create an account</h5>
	<br>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<!-- {{ form|crispy }} -->
		{{ register_form|materializecss}}
		<script src='https://www.google.com/recaptcha/api.js'></script>
    	<div class="g-recaptcha" data-sitekey="6LelxrAaAAAAAAKSe4e4PlyAW5PN89WDKjszZYdy"></div>
		{% csrf_token %}
		{{ profile_pic_form|materializecss}}
		
		<button type="submit" name="register" id="id_register" class="btn btn-success">Register</button>
	</form>
	
	<a href="{% url 'core:home' %}"><button type="submit" class="btn btn-success">Back</button></a>
</div>

{% endblock %}

{% block js %}

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js"
		integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

{% endblock %}