{% load static %}

{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'css/about.css'%}">

{% endblock %}

{% block full_content %}
<div class="about-us-banner">
    <div class="about-us-banner-text">
        <h1 style="font-size:50px">Meet the Developers</h1>
    </div>
</div>

<br><br>

<div class="card">
    <br>
    <h1 class="title">Alexander Schumacher (Leader)</h1>
    <p class="description">...</p>
    <br>
</div>

<br><br>

<br><br>

<div class="card">
    <br>
    <h1 class="title">David Erickson</h1>
    <p class="description">David Erickson is a senior student at Eastern Michigan University majoring in computer
        science. David’s contribution was spread across the project including html and django.
    </p>
    <br>
</div>

<br><br>

<br><br>

<div class="card">
    <br>
    <h1 class="title">Nathaniel Fishel</h1>
    <p class="description">Nathaniel Fishel is a senior at EMU graduating this semester. For this project Nathaniel
        spent most of his time on setting up backend systems and AWS deployment.</p>
    <br>
</div>

<br><br>

<br><br>

<div class="card">
    <br>
    <h1 class="title">Nick Gilliam</h1>
    <p class="description">Nick Gilliam is a senior computer science student at Eastern Michigan University. Nick's role
        on the project was to get it up and running quickly with his past history of the framework used while everyone
        got comfortable using it.
    </p>
    <br>
</div>

<br><br>

<br><br>

<div class="card">
    <br>
    <h1 class="title">Andrew Adamkowski</h1>
    <p class="description">...</p>
    <br>
</div>

<br><br>
<br><br>

<div class="card">
    <br>
    <h1 class="title">Supraja Kalva</h1>
    <p class="description">Supraja Kalva is a senior student at Eastern Michigan University. She is double majoring in
        computer science and neuroscience. She is very enthusiastic about learning more about artificial intelligence
        and brain-computer interfaces. In the future, she hopes to create a better world by combining BCIs to improve
        people’s health with neurodegenerative disorders. In this Film Club project, Supraja’s role was to manage
        administrative tasks and develop the UX/UI interface along with features for the website. Supraja hopes that
        this application will bring together a community that shares a passion for films and encourages constructive
        criticism.</p>
    <br>
</div>

<br><br>
{% endblock %}