{% extends 'core/base_full.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block css %}
{% endblock %}
{% block content %}
<h1>About the creators:</h1>


<h2>Alexamder Schumacher(Leader)</h2>
<p></p>
<h2>David Erickson</h2>
<p>David Erickson is a senior student at Eastern Michigan University majoring in computer science. David’s contribution was spread across the project including html and django.</p>
<h2>Nathaniel Fishel</h2>
<p></p>
<h2>Nick Gilliam</h2>
<p></p>
<h2>Andrew Adamkowski</h2>
<p></p>
<h2>Supraja Kalva</h2>
<p>Supraja Kalva is a senior student at Eastern Michigan University. 
She is double majoring in computer science and neuroscience. 
She is very enthusiastic about learning more about artificial intelligence and brain-computer interfaces. 
In the future, she hopes to create a better world by combining BCIs to improve people’s health with neurodegenerative disorders. 
In this Film Club project, Supraja’s role was to manage administrative tasks and develop the UX/UI interface along with features for the website. 
Supraja hopes that this application will bring together a community that shares a passion for films and encourages constructive criticism.</p>
{% endblock %}