{% extends 'core/base.html' %}
{% load static %}

{% block title %}
	{{ block.super }}
{% endblock %}

{% block css %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/base_full.css' %}">

{% endblock %}

{% block full_content %}

	<div id = "nav">
		<div class = "nav-section">
			<a class = "nav-link-cont" href = "{% url 'core:home' %}">
				<div class = "nav-link selected">
					Home
				</div>
			</a>
			<a class = "nav-link-cont" href = "{% url 'core:home' %}">
				<div class = "nav-link">
					Discover
				</div>
			</a>
			<form id = "search-container" method = "GET" action = "/search">
				<img src = "{% static 'img/icons/search-white-20.png' %}">
				<input id = "search-box" type = "text" name = "q" value = "{{ query }}">

				<select name="search_user_or_movie" id="movie_or_users">
					<option value="Movies">Search Movies</option>
					<option value="Users">Search Users</option>
				</select>
			</form>
		</div>
		<div class = "nav-section">
			<div id = "nav-user">
				<div class = "user-image">
					
				</div>
				<p class = "user-name">{{ user.get_full_name }}</p>
			</div>
		</div>
	</div>
	
	{% block content %}
	{% endblock %}
	
	<!-- FOOTER -->
	
{% endblock %}

{% block js %}
	{{ block.super }}
{% endblock %}