{% extends 'core/base.html' %}
{% load static %}

{% block title %}
	{{ block.super }}
{% endblock %}

{% block css %}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/base_full.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/footer.css' %}">

{% endblock %}

{% block full_content %}

	<div id = "nav">
		<div class = "nav-section">
			<a class = "nav-link-cont" href = "{% url 'core:home' %}">
				<div class = "nav-link selected">
					Home
				</div>
			</a>
			<a class = "nav-link-cont" href = "{% url 'core:home' %}">
				<div class = "nav-link">
					Discover
				</div>
			</a>
			<form id = "search-container" method = "GET" action = "/search">
				<img src = "{% static 'img/icons/search-white-20.png' %}">
				<input id = "search-box" type = "text" name = "q" value = "{{ query }}">

				<select name="search_user_or_movie" id="movie_or_users">
					<option value="Movies">Search Movies</option>
					<option value="Users">Search Users</option>
				</select>
			</form>
		</div>
		<div class = "nav-section">
			<div id = "nav-user">
				<div class = "user-image">
					<img src="{{ request.user.userprofile.profile_pic.url }}" style="border-radius: 50%; width: 100%; height: 100%;">	
				</div>
				<p class = "user-name">{{ user.get_full_name }}</p>
			</div>
			<a class = "nav-link-cont" id="logout" href = "{% url 'core:logout' %}">
				<div class = "nav-link">
					Logout
				</div>
			</a>
		</div>
	</div>
	
	{% block content %}
	{% endblock %}

	{% include "./footer.html" %}
	
{% endblock %}

{% block js %}
	{{ block.super }}
	
	<script src = "{% static 'js/base_full.js' %}"></script>
{% endblock %}