{% load static %}

<html>

<head>
	<title>{% block title %}Film Club{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}">
	<link rel="icon"href="{% static 'favicon.ico' %}">

	<style>
		@font-face {
			font-family: Roboto-Thin;
			src: url({% static 'font/roboto/Roboto-Thin.ttf' %});
		}

		@font-face {
			font-family: Roboto-Light;
			src: url({% static 'font/roboto/Roboto-Light.ttf' %});
		}

		@font-face {
			font-family: Roboto-Regular;
			src: url({% static 'font/roboto/Roboto-Regular.ttf' %});
		}

		@font-face {
			font-family: Roboto-Medium;
			src: url({% static 'font/roboto/Roboto-Medium.ttf' %});
		}
	</style>

	{% block css %}
	{% endblock %}
</head>

<body>
	{% block full_content %}
	{% endblock %}

	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/ajax.js' %}"></script>
	<script src="{% static 'js/base.js' %}"></script>


	{% block js %}
	{% endblock %}
</body>

</html>