{% extends 'core/base_full.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block css %}
	{{ block.super }}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/home.css'%}">

{% endblock %}

{% block content %}
	
	<div class = "container grid">
		<div class = "cont-section">
			{% include 'core/blocks/tiles/user-container.html' with profile=user show_view_button=True %}
		</div>
		<div id = "main-feed" class = "cont-section">
			<div id = "daily-recs" class = "slider tile">
				<p class = "tile-title">Daily Recommendations</p>
				<div class = "slider-items">
					{% for movie in recommendations %}
						
						<a href = "{% url 'core:movie' id=movie.get_absolute_id %}">
							<div class = "slider-item" style = "background-image: url({{ movie.get_poster_url }})" title = "{{ movie.title }}">
							
							</div>
						</a>
						
					{% endfor %}

				</div>
			
				<button type="button" onClick="refreshRecomendations()">Get New Recs</button>
				<script>
					function refreshRecomendations(){
						window.location.reload();
					} 
				</script>
				
			</div>
			<div id = "feed">
				{% for review in reviews %}
					
					{% include 'core/blocks/tiles/review.html' with review=review %}
				
				{% endfor %}
			</div>
			<div id = "load-more" class = "tile">
				Load More
			</div>
			<p id = "end-feed" style = "display: none">Nothing more to load</p>
		</div>
		<div class = "cont-section">
			<div class = "tile">
				<p class = "tile-title">Recently Watched</p>
				<div class = "slider-items" style = "--num-columns: 3">
					{% for movie in recently_watched %}
						
						<a href = "{% url 'core:movie' id=movie.get_absolute_id %}">
							<div class = "slider-item" style = "background-image: url({{ movie.get_poster_url }})" title = "{{ movie.title }}">
							
							</div>
						</a>
						
					{% endfor %}
				</div>
				{% if recently_watched|length == 0 %}
				
					<p id = "no-recent" class = "tile-subtitle">You haven't watched any movies recently.</p>
				
				{% endif %}
			</div>
		</div>
	</div>
	
	<div id = "review-html" style = "display: none">{% include 'core/blocks/tiles/review.html' with markup=True %}</div>
	
{% endblock %}

{% block js %}
	{{ block.super }}

	<script src = "{% static 'js/home.js'%}"></script>
	<script src = "{% static 'js/review.js'%}"></script>

{% endblock %}