{% extends 'core/base_full.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block css %}
	{{ block.super }}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/home.css'%}">

{% endblock %}

{% block content %}
	
	<div class = "container grid">
		<div class = "cont-section">
			{% include 'core/blocks/tiles/user-container.html' with profile=user show_view_button=True %}
		</div>
		<div id = "main-feed" class = "cont-section">
			<div id = "daily-recs" class = "slider tile">
				<p class = "tile-title">Daily Recommendations</p>
				<div class = "slider-items">
					{% for movie in recommendations %}
						
						<a href = "{% url 'core:movie' id=movie.get_absolute_id %}">
							<div class = "rec-movie" style = "background-image: url({{ movie.get_poster_url }})">
							
							</div>
						</a>
						
					{% endfor %}
				</div>
			</div>
			<div id = "feed">
				<div class = "review tile">
					<div class = "tile-type">
						Review (Example)
					</div>
					<div class = "review-header">
						<div class = "user-image">
							
						</div>
						<div class = "review-info">
							<div class = "review-details">
								<p class = "review-name">{{ user.get_full_name }}<p>
								<p style = "margin: 0 4px">reviewed</p>
								<p class = "review-title">Once Upon A Time...In Hollywood</p>
							</div>
							<div class = "review-date">
								
							</div>
						</div>
					</div>
					<div class = "review-media">
						<div class = "media-image">
							
						</div>
						<div class = "media-details">
							<p class = "media-title">Once Upon A Time...In Hollywood</p>
							<p class = "media-description">Actor Rick Dalton gained fame and fortune by starring in a 1950s television Western, but is now struggling to find meaningful work in a Hollywood that he doesn't recognize anymore. He spends most of his time drinking and palling around with Cliff Booth, his easygoing best friend and longtime stunt double. Rick also happens to live next door to Roman Polanski and Sharon Tate -- the filmmaker and budding actress whose futures will forever be altered by members of the Manson Family.</p>
						</div>
					</div>
					<div class = "review-options">
						<div class = "review-option">
							<p>Like</p>
						</div>
						<div class = "review-option">
							<p>Comment</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class = "cont-section">
			<div class = "tile">
				<p class = "tile-title">Recently Watched</p>
				<div class = "slider-items" style = "--num-columns: 3">
					{% for movie in recently_watched %}
						
						<a href = "{% url 'core:movie' id=movie.get_absolute_id %}">
							<div class = "rec-movie" style = "background-image: url({{ movie.get_poster_url }})">
							
							</div>
						</a>
						
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}

{% block js %}

	<script src = "{% static 'js/home.js'%}"></script>

{% endblock %}