{% extends 'core/base.html' %}
{% load static %}

{% block title %}Landing{% endblock %}

{% block css %}

	<script src = "{% static 'css/index.css'%}"></script>

{% endblock %}

{% block full_content %}

	<div>
		<h1>Film Club</h1>
			<p>You are not logged in</p>
			<a href="{% url 'core:login' %}">Log In</a>
			<a href="{% url 'core:register' %}">Signup</a>
			<a href="{% url 'core:password_reset' %}">Reset your password</a>
	</div>
	
{% endblock %}

{% block js %}

	<script src = "{% static 'js/index.js'%}"></script>

{% endblock %}