{% extends 'core/base_full.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block css %}
	{{ block.super }}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/movie.css'%}">

{% endblock %}

{% block content %}

	<div class = "container">
		<div id = "movie-container" class = "tile" style = "--background-url: url({{ movie.poster_url }})">
			<div id = "movie-poster">
				<img src = "{{ movie.poster_url }}">
			</div>
			<div id = "movie-details">
				<p id = "movie-title">{{ movie.title }}</p>
				<p id = "movie-desc">{{ movie.overview }} </p>
			</div>
		</div>
	</div>
	
{% endblock %}

{% block js %}

	<script src = "{% static 'js/movie.js'%}"></script>

{% endblock %}