{% extends 'core/base_full.html' %}
{% load static %}
{% load util %}

{% block title %}{{ movie.title }}{% endblock %}

{% block css %}
	{{ block.super }}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/movie.css'%}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/search.css'%}">

{% endblock %}

{% block content %}

	<div class = "container column">
		<div id = "movie-container" class = "tile" style = "border: none; --background-url: url({{ movie.get_poster_url }})">
			<div id = "movie-poster">
				<img src = "{{ movie.get_poster_url }}">
			</div>
			<div id = "movie-body">
				<div id = "movie-details">
					<p id = "movie-title">{{ movie.title }}</p>
					<p id = "movie-desc">{{ movie.description }} </p>
				</div>
				<div id = "movie-options">
					<div id = "mark-watched" class = "movie-option {% if watched %}watched{% endif %}">
						<img src = "{% static 'img/icons/eye-white-24.png' %}">
					</div>
				</div>
			</div>
		</div>
		<p id ="friendwatch">{{fstring}}</p>
		<div id = "review-container">
			<div id = "aggregate-container" class = "tile">
				<p class = "tile-inline-title">Community Score <span id = "review-count">{{ aggregate.total }} review{% if aggregate.total > 1 %}s{% endif %}</span></p>
				<div id = "score-wrapper">
					<div id = "aggregate-score" style = "background-color: {% get_review_color aggregate.score %}">
						{{ aggregate.score }}
					</div>
					<div id = "aggregate-breakdown">
						<div class = "score-category" style = "--score-color: {{ aggregate.breakdown.5.color }}">
							<p class = "category-label">5</p>
							<div class = "category-visual" style = "--proportion: {{ aggregate.breakdown.5.proportion }}%;">
								
							</div>
							<p class = "category-amount">{{ aggregate.breakdown.5.amount }}</p>
						</div>
						<div class = "score-category" style = "--score-color: {{ aggregate.breakdown.4.color }}">
							<p class = "category-label">4</p>
							<div class = "category-visual" style = "--proportion: {{ aggregate.breakdown.4.proportion }}%;">
								
							</div>
							<p class = "category-amount">{{ aggregate.breakdown.4.amount }}</p>
						</div>
						<div class = "score-category" style = "--score-color: {{ aggregate.breakdown.3.color }};">
							<p class = "category-label">3</p>
							<div class = "category-visual" style = "--proportion: {{ aggregate.breakdown.3.proportion }}%;">
								
							</div>
							<p class = "category-amount">{{ aggregate.breakdown.3.amount }}</p>
						</div>
						<div class = "score-category" style = "--score-color: {{ aggregate.breakdown.2.color }};">
							<p class = "category-label">2</p>
							<div class = "category-visual" style = "--proportion: {{ aggregate.breakdown.2.proportion }}%;">
								
							</div>
							<p class = "category-amount">{{ aggregate.breakdown.2.amount }}</p>
						</div>
						<div class = "score-category" style = "--score-color: {{ aggregate.breakdown.1.color }};">
							<p class = "category-label">1</p>
							<div class = "category-visual" style = "--proportion: {{ aggregate.breakdown.1.proportion }}%;">
								
							</div>
							<p class = "category-amount">{{ aggregate.breakdown.1.amount }}</p>
						</div>
					</div>
				</div>
			</div>
			<div id = "self-review" class = "tile">
				{% if reviewed %}
					
					<p class = "tile-inline-title">Your Review</p>
				
					{% include 'core/blocks/tiles/review.html' with review=review barebones=True %}
				
				{% else %}
				
					<p class = "tile-inline-title">Write a Review</p>
					<form id = "post-review" method = "POST">
						{% csrf_token %}
					
						<input id = "post-review-title" type = "text" name = "title" placeholder = "Title">
						<input id = "post-review-score" type = "number" name = "score" placeholder = "Score (1-5 in .5 increments)" min = 1 max = 5 step = .5>
						<textarea id = "post-review-text" name = "text" placeholder = "Body"></textarea>
						<input id = "post-review-submit" type = "submit" value = "Post">
					</form>
				
				{% endif %}
			</div>
			<div id = "community-reviews">
				
			</div>
		</div>
	</div>
	<div class = "container column">
		<div class = "tile">
			<p class = "tile-title">Similar Movies</p>
			<div id = "search-results" style = "padding-top: 0;">
				{% for movie in similar_movies %}
				
					<a href = "{% url 'core:movie' id=movie.get_absolute_id %}">
						<div class = "search-movie">
							<div class = "movie-poster">
								<img src = "{{ movie.get_poster_url }}">
							</div>
							<div class = "movie-details">
								<p class = "movie-title">{{ movie.title }}</p>
								<p class = "movie-description">{{ movie.description }}</p>
							</div>
						</div>
					</a>

				{% endfor %}
			</div>
		</div>
	</div>
	
{% endblock %}

{% block js %}
	{{ block.super }}

	{{ movie.get_absolute_id|json_script:"movie_id" }}

	<script>
		var movie_id = JSON.parse(document.getElementById('movie_id').textContent);
	</script>
	<script src = "{% static 'js/movie.js'%}"></script>

{% endblock %}
