{% extends 'core/base_full.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load materializecss %}

{% block title %}My Profile - {{ profile.get_full_name }}{% endblock %}

{% block css %}
	{{ block.super }}
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/profile.css'%}">

{% endblock %}

{% block content %}

	<div class = "container grid">
		<div class = "cont-section">
			{% include 'core/blocks/tiles/user-container.html' with profile=profile %}
			
			<div class = "tile">
				<p class = "tile-title">Followers</p>
				
				{% if followers|length == 0 %}
				
					<p id = "no-recent" class = "tile-subtitle">This user doesnt have any followers</p>
				
				{% else %}
				
					<div class = "slider-items circles" style = "--num-columns: 3">
						{% for follower in followers %}
							
							<a href = "{% url 'core:profile' username=follower.user.username %}">
								<div class = "slider-item circle" style = "background-image: url({{ follower.profile_pic.url }})" title = "{{ follower.user.username }}">
									
								</div>
							</a>
							
						{% endfor %}
					</div>
				
				{% endif %}
				
				{% if profile.userprofile.watched_movies.all|length > 6 %}
				
					<div id = "all-followers" class = "tile-option">
						<p>See All</p>
					</div>
				
				{% endif %}
			</div>
			<div class = "tile">
				<p class = "tile-title">Following</p>
				
				{% if following|length == 0 %}
				
					<p id = "no-recent" class = "tile-subtitle">This user hasnt followed anyone</p>
				
				{% else %}
				
					<div class = "slider-items circles" style = "--num-columns: 3">
						{% for followee in following %}
							
							<a href = "{% url 'core:profile' username=followee.username %}">
								<div class = "slider-item circle" style = "background-image: url({{ followee.userprofile.profile_pic.url }})" title = "{{ followee.username }}">
									
								</div>
							</a>
							
						{% endfor %}
					</div>
				
				{% endif %}
				
				{% if profile.userprofile.following.all|length > 6 %}
				
					<div id = "all-followees" class = "tile-option">
						<p>See All</p>
					</div>
				
				{% endif %}
			</div>
		</div>
		<div class = "cont-section">
			<a href="{% url 'core:change_settings' %}">Click to change privacy settings from: {{ isPrivate }}</a>

			<form method = "GET" action = "{% url 'core:change_settings' %}">

				<button type="submit" id="changePrivacy">Change Privacy From: {{ isPrivate }}</button>
			</form>


			<h5>Reviews</h5>
			{% for review in reviews %}
			
				{% include 'core/blocks/tiles/review.html' with review=review %}
			
			{% endfor %}
			
			{% if reviews|length == 0 %}
				
				<p class = "tile-subtitle">This user hasnt made any reviews</p>
			
			{% endif %}
		</div>
		<div class = "cont-section">
			<div class = "tile">
				<p class = "tile-title">Watched Movies</p>
				
				{% if watched_movies|length == 0 %}
				
					<p id = "no-recent" class = "tile-subtitle">This user hasnt watched any movies</p>
				
				{% else %}
				
					<div class = "slider-items" style = "--num-columns: 3">
						{% for movie in watched_movies %}
							
							<a href = "{% url 'core:movie' id=movie.get_absolute_id %}">
								<div class = "slider-item" style = "background-image: url({{ movie.get_poster_url }})" title = "{{ movie.title }}">
								
								</div>
							</a>
							
						{% endfor %}
					</div>
				
				{% endif %}
				
				{% if profile.userprofile.watched_movies.all|length > 3 %}
				
					<div id = "all-movies" class = "tile-option">
						<p>See All</p>
					</div>
				
				{% endif %}
			</div>
		</div>
	</div>
	
{% endblock %}

{% block js %}

	<script src = "{% static 'js/profile.js'%}"></script>
	<script src = "{% static 'js/review.js'%}"></script>

{% endblock %}