{% extends 'core/base_full.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block css %}
	{{ block.super }}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/profile.css'%}">

{% endblock %}

{% block content %}

	<div class = "grid-container">
		<div class = "cont-section">
			{% include 'core/blocks/tiles/user-container.html' with user=user %}
		</div>
		<div class = "cont-section">
			
		</div>
		<div class = "cont-section">
			
		</div>
	</div>
	
{% endblock %}

{% block js %}

	<script src = "{% static 'js/home.js'%}"></script>

{% endblock %}