{% extends 'core/base_full.html' %}
{% load static %}

{% block title %}Search{% endblock %}

{% block css %}
	{{ block.super }}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/search.css'%}">

{% endblock %}

{% block content %}

	<div class = "container column">
		<p class = "tile-title">Results for '{{ query }}'</p>
		<div id = "search-results" class = "tile">
			
			<a href="u/{{ res_top }}">{{ res_top }}</a>
			
			<!--


<label>{{ res_top }}</label>


			<a href="{% url 'core:profile' user.username %}">{% url 'core:profile' user.username %}</label>

				<a href="/ascha/">link</label>

			{% for r in res_u %}

			<label>{{ r }}</label>
			
			{% endfor %}
			-->
		
			{% for result in results %}
				<a href = "{% url 'core:movie' id=result.get_absolute_id %}">
				<div class = "search-movie">
					<div class = "movie-poster">
						<img src = "{{ result.get_poster_url }}">
					</div>
					<div class = "movie-details">
						<p class = "movie-title">{{ result.title }}</p>
						<p class = "movie-description">{{ result.description }}</p>
					</div>
				</div>
				</a>
				
			{% endfor %}
		</div>
	</div>
	
{% endblock %}

{% block js %}

	

{% endblock %}