{% extends 'core/base_full.html' %}
{% load static %}

{% block title %}Search{% endblock %}

{% block css %}
	{{ block.super }}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/search.css'%}">

{% endblock %}

{% block content %}

	<div class = "container column">
		<p class = "tile-title">Results for '{{ query }}'</p>
		<div id = "search-results" class = "slider tile">
			<a href="u/{{ res_top }}">{{ res_top }}</a>
			<div class = "slider-items" style = "--num-columns: 5">
				{% for movie in results %}
					
					<a href = "{% url 'core:movie' id=movie.get_absolute_id %}">
						<div class = "slider-item" style = "background-image: url({{ movie.get_poster_url }})" title = "{{ movie.title }}">
						
						</div>
					</a>
					
				{% endfor %}
			</div>
		</div>
	</div>
	
{% endblock %}

{% block js %}

	

{% endblock %}