{% extends 'core/base_full.html' %}
{% load static %}

{% block title %}Search{% endblock %}

{% block css %}
	{{ block.super }}

	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/search.css'%}">

{% endblock %}

{% block content %}

	<div class = "container column">
		<p class = "tile-outer-title"><span class = "title-block"></span>Results for '{{ query }}'</p>
		<div id = "search-results" class = "slider tile">
			<div class = "slider-items" style = "--num-columns: 5">
				{% if type == 'movies' %}
					{% for movie in results %}
						
						<a href = "{% url 'core:movie' id=movie.get_absolute_id %}">
							<div class = "slider-item" style = "background-image: url({{ movie.get_poster_url }})" title = "{{ movie.title }}">
							
							</div>
						</a>
						
					{% endfor %}
				{% elif type == 'users' %}
					{% for user in results %}
						
						<div class = "search-user">
							<a href = "{% url 'core:profile' username=user.username %}">
								<div class = "search-profile-picture" style = "--profile-picture: url({{ user.userprofile.profile_pic.url }})">
									
								</div>
							</a>
							<a href = "{% url 'core:profile' username=user.username %}">
								<p class = "search-profile-name">{{ user.get_full_name }}</p>
							</a>
							<a href = "{% url 'core:profile' username=user.username %}">
								<span class = "username-container">@<p class = "user-username">{{ user.username }}</p></span>
							</a>
						</div>
						
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
	
{% endblock %}

{% block js %}

	

{% endblock %}