{% load util %}

<div id = "user-container" class = "tile">
	<input id = "profile-username" type = "text" value = "{{ profile.username }}" hidden>
	<div id = "user-cover">
		<div id = "user-image-container">
			<div id = "profile-picture" style = "--profile-picture: url({{ profile.userprofile.profile_pic.url }})">
				
			</div>
			{% if user == profile %}
			
				<div id = "profile-picture-upload">
					
				</div>
				<form id = "profile-picture-form" method = "POST" action = "{% url 'core:profile_picture_upload' %}" enctype="multipart/form-data">
					{% csrf_token %}
				
					<input id = "upload-profile-picture" name = "profile-picture" type = "file" style = "opacity: 0">
				</form>
				
			{% endif %}
		</div>
	</div>
	<div id = "user-info">
		{% if user == profile %}
			
			<form id = "edit-name" method = "POST" action = "{% url 'core:edit_profile' profile.username %}">
				{% csrf_token %}
			
				<input class = "browser-default" type = "text" name = "first-name" value = "{{ profile.first_name }}">
				<input class = "browser-default" type = "text" name = "last-name" value = "{{ profile.last_name }}">
				<input id = "name-submit" type="submit" style="display: none">
			</form>
			
		{% else %}
			
			<p id = "user-full-name">
				{{ profile.get_full_name }}
			</p>
			
		{% endif %}
		
		<span id = "username-container">@<p id = "user-username">{{ profile.username }}</p></span>
	</div>
	
	{% if user != profile %}
	
		{% is_following user profile as following %}
	
		<div id = "user-follow" class = "{% if following %}following{% endif %}">
			<p class = "main-label">{% if following %}Following{% else %}Follow{% endif %}</p>
			<p class = "second-label">Unfollow</p>
		</div>
		
	{% endif %}
	<div id = "user-stats">
		<div class = "user-stat">
			{% get_follower_count profile as follower_count %}
		
			<p class = "stat-label">Followers</p>
			<p id = "num-friends" class = "stat-number">{{ follower_count }}</p>
		</div>
		<div class = "user-stat">
			{% get_follower_count profile as follower_count %}
		
			<p class = "stat-label">Following</p>
			<p id = "num-friends" class = "stat-number">{{ profile.userprofile.following.all|length }}</p>
		</div>
		<div class = "user-stat">
			<p class = "stat-label">Movies Watched</p>
			<p id = "num-movies" class = "stat-number">{{ profile.userprofile.watched_movies.all|length }}</p>
		</div>
	</div>
	
	{% if show_view_button %}
		
		<a href = "{% url 'core:profile' username=profile.username %}">
			<div class = "tile-option">
				<p>View Profile</p>
			</div>
		</a>
	
	{% endif %}
</div>