#daily-recs{
	width: 100%;
	
	margin-bottom: var(--gap);
}
.slider-items{
	width: 100%;
	
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.rec-movie{
	width: 100%;
	
	padding-top: 150%;
	
	background-color: #555;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
	box-sizing: border-box;
}

.review{
	//border-color: var(--blue);
}
.review-header{
	width: 100%;
	
	display: flex;
	align-items: center;
	
	padding: var(--tile-padding);
	
	box-sizing: border-box;
}
.tile .user-image{
	width: 40px;
	height: 40px;
	
	background-color: #ddd;
	
	border-radius: 100%;
}
.review-info{
	display: flex;
	flex-direction: column;
	
	margin-left: 10px;
}
.review-details{
	display: flex;
	align-items: baseline;
	
	font-size: 14px;
	
	color: #888;
}
.review-name, .review-title{
	font-family: Roboto-Medium;
	font-size: 16px;
	
	color: black;
}
.review-media{
	display: flex;
	
	padding: 0 var(--tile-padding) 0 var(--tile-padding);
	
	box-sizing: border-box;
}
.media-image{
	width: 110px;
	height: 150px;
	
	background-color: var(--black);
}
.media-details{
	height: 150px;
	
	display: flex;
	flex-direction: column;
	flex: 1;
	
	padding: 10px;
	
	border-width: 1px 1px 1px;
	border-color: #aaa;
	border-style: solid;
	
	box-sizing: border-box;
}
.media-title{
	font-family: Roboto-Medium;
	font-size: 16px;
}
.media-description{
	width: calc(100%);
	
	display: inline-block;
	
	margin-top: 4px;
	
	font-size: 14px;
	text-overflow: ellipsis;
	
	color: #777;
	
	overflow: hidden;
}
.review-options{
	display: flex;
	
	margin-top: 15px;
	
	border-top: 1px solid #ddd;
	
	box-sizing: border-box;
}
.review-option{
	width: 100%;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	padding: 12px 0;
	
	font-family: Roboto-Medium;
	font-size: 12px;
	text-transform: uppercase;
	
	color: #777;
	
	cursor: pointer;
}
.review-option:hover{
	color: black;
}