#movie-container{
	flex-direction: row;
	
	padding: 15px;
	
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), var(--background-url);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
	box-sizing: border-box;
}

#movie-poster{
	width: fit-content;
	height: 300px;
}
#movie-poster img{
	height: 100%;
}

#movie-body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
	
	margin-left: 15px;
	
	color: white;
}
#movie-details{
	display: flex;
	flex-direction: column;
}
#movie-title{
	font-family: Roboto-Medium;
	font-size: 40px;
}
#movie-desc{
	font-size: 14px;
}
#movie-options{
	display: flex;
	justify-content: flex-end;
}
.movie-option{
	position: relative;
	
	padding: 8px;
	
	font-size: 14px;
	text-transform: uppercase;
	
	background-color: var(--red);
	
	box-shadow: 0 0px 8px rgba(0, 0, 0, .3);
	
	border-radius: 100%;
	
	box-sizing: border-box;
	
	cursor: pointer;
}
.movie-option:not(:first-child){
	margin-left: 15px;
}
.movie-option:after{
	content: '';
	
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
	
	border-radius: 100%;
	
	background-color: black;
	
	opacity: 0;
	
	transition: all .1s ease;
}
.movie-option:hover:after{
	opacity: .1;
}
#mark-watched{
	background-color: var(--red);
}
#mark-watched.watched{
	background-color: var(--green);
}

#movie-review{
	flex-direction: row;
	
	padding: var(--gap);
}
#review-score{
	width: fit-content;
	
	display: flex;
	align-items: center;
	flex-direction: column;
	
	padding: 30px;
	
	font-size: 10px;
	text-transform: uppercase;
	
	background-color: var(--green);
	
	color: white;
}
#score{
	font-family: Roboto-Medium;
	font-size: 32px;
}
#review-details{
	display: flex;
	flex-direction: column;
	
	margin-left: 10px;
}
#review-title{
	font-family: Roboto-Medium;
	font-size: 24px;
}