#movie-container{
	flex-direction: row;
	
	padding: 15px;
	
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), var(--background-url);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
	box-sizing: border-box;
}

#movie-poster{
	width: fit-content;
	height: 300px;
}
#movie-poster img{
	height: 100%;
}

#movie-body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
	
	margin-left: 15px;
	
	color: white;
}
#movie-details{
	display: flex;
	flex-direction: column;
}
#movie-title{
	font-family: Roboto-Medium;
	font-size: 40px;
}
#movie-desc{
	font-size: 14px;
}
#movie-footer{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
#movie-options{
	display: flex;
	align-items: center;
	
	margin-left: 10px;
}
.movie-option{
	position: relative;
	
	padding: 8px;
	
	font-size: 14px;
	text-transform: uppercase;
	
	background-color: var(--red);
	
	box-shadow: 0 0px 8px rgba(0, 0, 0, .3);
	
	border-radius: 100%;
	
	box-sizing: border-box;
	
	cursor: pointer;
}
.movie-option:not(:first-child){
	margin-left: 15px;
}
.movie-option:after{
	content: '';
	
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
	
	border-radius: 100%;
	
	background-color: black;
	
	opacity: 0;
	
	transition: all .1s ease;
}
.movie-option:hover:after{
	opacity: .1;
}
#mark-watched{
	background-color: var(--red);
}
#mark-watched.watched{
	background-color: var(--green);
}
#watched-following{
	display: flex;
}
.following-user{
	width: 35px;
	height: 35px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	border-radius: 100%;
	
	background-color: black;
	background-image: var(--profile-picture);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
	font-size: 14px;
	color: white;
	
	cursor: pointer;
}
#watched-following > *:not(:first-child){
	margin-left: 5px;
}

#movie-review{
	flex-direction: row;
	
	padding: var(--gap);
}
#review-score{
	width: fit-content;
	
	display: flex;
	align-items: center;
	flex-direction: column;
	
	padding: 30px;
	
	font-size: 10px;
	text-transform: uppercase;
	
	background-color: var(--green);
	
	color: white;
}
#score{
	font-family: Roboto-Medium;
	font-size: 32px;
}
#review-details{
	display: flex;
	flex-direction: column;
	
	margin-left: 10px;
}
#review-title{
	font-family: Roboto-Medium;
	font-size: 24px;
}

#review-container{
	display: grid;
	grid-template-areas: "aggregate self	  self 		self"
						 "community community community community";
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: var(--tile-padding);
	
	margin-top: var(--tile-padding);
}

#aggregate-container{
	grid-area: aggregate;
	
	min-width: 250px;
	
	display: flex;
	
	padding: var(--tile-padding);
	
	box-sizing: border-box;
}
#score-wrapper{
	width: 100%;
	height: max-content;
	
	display: flex;
}
#aggregate-score{
	display: flex;
	align-items: center;
	justify-content: center;
	
	padding: 20px;
	
	font-family: Roboto-Medium;
	font-size: 32px;
	color: white;
	
	border-bottom: 4px solid rgba(0, 0, 0, .3);
	
	box-sizing: border-box;
}
#aggregate-breakdown{
	display: flex;
	flex-direction: column;
	flex: 1;
	
	margin-left: 5px;
	
	box-sizing: border-box;
}
.score-category{
	display: flex;
	align-items: center;
}
.category-label, .category-amount{
	width: 20px;
	
	text-align: center;
}
.category-label{
	font-family: Roboto-Medium;
	font-size: 14px;
}
.category-visual{
	height: 6px;
	
	flex: 1;
	
	position: relative;
	
	margin: 0 5px;
	
	background-color: #ddd;
	
	border-radius: 3px;
	
	overflow: hidden;
}
.category-visual:before{
	content: '';
	
	width: var(--proportion);
	min-width: 6px;
	height: 100%;
	
	position: absolute;
	top: 0;
	left: 0;
	
	background-color: var(--score-color);
	
	border-radius: 3px;
}
.category-amount{
	font-size: 14px;
}

#self-review{
	grid-area: self;
	
	padding: var(--tile-padding);
	
	box-sizing: border-box;
}
#community-reviews{
	grid-area: community;
	
	box-sizing: border-box;
}

#post-review{
	display: flex;
	flex-direction: column;
}
#post-review > *:not(#post-review-title){
	margin-top: var(--tile-padding);
}

#post-review-title, #post-review-score, #post-review-text, #post-review-submit{
	padding: 8px;
	
	border: 1px solid #ddd;
	outline: none;
	
	box-sizing: border-box;
}
#post-review-title:focus, #post-review-score:focus, #post-review-text:focus{
	border-color: var(--red);
}
#post-review-score{
	width: 200px;
}
#post-review-text{
	height: 100px;
	
	font-family: Roboto-Regular;
	
	resize: vertical;
}
#post-review-submit{
	align-self: flex-end;
	
	padding: 8px 40px;
	
	font-family: Roboto-Medium;
	text-transform: uppercase;
	
	cursor: pointer;
	
	transition: all .1s ease;
}
#post-review-submit:hover{
	background-color: var(--red);
	
	color: white;
}

#review-count{
	font-size: 12px;
	
	color: #777;
}

#similar-movies{
	width: 100%;
	
	display: flex;
	flex-wrap: wrap;
}

.similar-movie{
	width: 50%;
	
	display: flex;
	
	position: relative;
}
.similar-movie img{
	position: absolute;
	top: calc(50% - 10px);
	left: 0;
}